* {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-9/cur815.ani),
    url(https://cur.cursors-4u.net/cursors/cur-9/cur815.png), auto !important;
}

.container-start {
  width: 300x;
  height: 400px;
  position: absolute;
  top: 370px;
  left: 410px;
}


#gameover-screen {
  margin: auto;
  margin-top: 200px;
  position: relative;
  background-color: black;
  color: rgb(22, 164, 27);
  text-align: center;
  border: 8px solid;
  border-radius: 10px;
  box-shadow: 0 1px 32px white;
  transform: rotate(0) scale(0);
  animation: grow-and-shrink 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* display: flex; */
  position: absolute;
  top: 470px;
  left: 950px;
  display: none;
  width: 300px;
}


@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  0% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}

.h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2 {
  justify-content: center;
  padding: 20px;
}

h1 {
  text-align: center;
}

h3 {
  color: green;
  text-align: center;
  font-size: 27px;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

.grid {
  width: 1000px;
  height: 745px;
  border: inset green 10px;
  padding-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 1px 32px purple;
}

.grid div {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('images/background.gif');
  font-family: 'Bungee Outline', cursive;
  font-size: 25px;
  margin: 0px;
  height: 100%;
}

.about-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

p {
  color: white;
  text-align: center;
}

#score {
  color: rgb(170, 55, 196);
}

.score {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  color: rgb(170, 55, 196);
  font-size: 40px;
}

.alien {
  background-image: url('/images/alienpurple.png');
  width: 50px;
  height: 50px;
}

.blasted {
  background-image: red;
}

.shooter {
  background-image: url('/images/shooter.gif');
  width: 25px;
}

.bullet {
  background-image: url('/images/skullbullet.png');
}

.audio-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: green;

}